:root {
  --transition-timing: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.key-areas_options {
  gap: 1rem;
}

.option {
  width: 22%;
  position: relative;
  border-radius: 1.5rem;
  transition: all var(--transition-timing);
}

.option.active {
  width: 55%;
  box-shadow: inset 0 -120px 120px -120px black,
    inset 0 -120px 120px -100px black;
}

/* Background video styles */
.option_bg-video {
  height: 105%;
  transition: height var(--transition-timing);
}

.option.active .option_bg-video {
  height: 100%;
}

/* Text visibility transitions */
.option_txt-more,
.option_txt-less-wrapper {
  transition: opacity var(--transition-timing);
}

.option_txt-more {
  opacity: 0;
}

.option.active .option_txt-more {
  opacity: 1;
}

.option.active .option_txt-less-wrapper {
  opacity: 0;
}
